canvas#screen(style: "border: 1px solid black", width: "800px", height: "600px")
script(src: '/script/entity.js')
script(src: '/script/world.js')
script
    var world = new World('screen');
    world.set_size(1600, 60000);
    world.draw();
    